<body>
    <div class="upper-div">
       <div class="inner-div">
        <div class="team-user-pic">
            <div class="name">
              <span class="profile-circle">
                <img style="height: 60px;width: 60px;" [src]="imgUrl">
            </span>
            </div>
          </div>
         <span style="margin-left: 5rem;">Welcome Back , {{ user.username | titlecase}}.</span>
        <button mat-stroked-button style="float: right;" color="warn" (click)="logoutUser()">Log out</button>
        <button *ngIf = "user.isAdmin" mat-stroked-button style="float: right;margin-right: 1rem;" color="primary" (click)="routeToUsers()">Manage Users</button>
       </div>   
    </div>

    <br>
      
    <div id="policy-icons-container" *ngIf="!user.isAdmin">
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'approved'}"
            (click) = "blogCategory = 'approved'"
            style="box-sizing: border-box;padding-left: 10px;">
          <span class="policy-text">Approved</span>
        </div>
        <div class="icon-divider"></div>
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'pending'}"
            (click) = "blogCategory = 'pending'"
            style="box-sizing: border-box;padding-left: 19px;">
          <span class="policy-text">Pending</span>
        </div>
        <div class="icon-divider"></div>
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'rejected'}"
            (click) = "blogCategory = 'rejected'"
            style="box-sizing: border-box;padding-left: 19px;">
          <span class="policy-text">Rejected</span>
        </div>
        <div class="icon-divider"></div>
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'new'}"
            (click) = "blogCategory = 'new'"
            style="box-sizing: border-box;padding-left: 19px;">
          <span class="policy-text">New</span>
        </div>
    </div>

    <div id="policy-icons-container-2" *ngIf="user.isAdmin">
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'approved'}"
            (click) = "blogCategory = 'approved'"
            style="box-sizing: border-box;padding-left: 10px;">
          <span class="policy-text">Approved</span>
        </div>
        <div class="icon-divider"></div>
        <div class="policy-icons" [ngClass] = "{'active-p-icon': blogCategory == 'pending'}"
            (click) = "blogCategory = 'pending'"
            style="box-sizing: border-box;padding-left: 19px;">
          <span class="policy-text">Approve Blogs</span>
        </div>
    </div>


    <div *ngIf="!user.isAdmin">
        <div *ngIf="blogCategory != 'new'">
            <div *ngFor="let blog of blogs[blogCategory]">
                <mat-accordion>
                    <mat-expansion-panel style="border: 1px solid #00000096;margin: 1rem;" [expanded]="'true'">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div style="width: 70%;" *ngIf = "!editBlogMode[blog._id]">
                                    <p>
                                        <span style="font-weight: bold;font-size: 25px;">{{ blog.title | titlecase | slice : 0 : 15}}</span>&nbsp; 
                                        <span style="font-style: italic;font-size: 12px;">{{ blog.date | date :'d/M/y hh:mm a' }} </span> 
                                        <span style="font-weight: bold;font-size: 12px;" [ngStyle]="{'color' : blogCategory == 'approved' ?  'green' : blogCategory == 'pending' ? 'purple' : 'red'}">
                                            {{ blogCategory == 'approved' ?  '(APPROVED)' : ''}}
                                            {{ blogCategory == 'pending' ?  '(PENDING)' : ''}}
                                            {{ blogCategory == 'rejected' ?  '(REJECTED)' : ''}}
                                        </span>&nbsp;
                                        <span style="font-style: italic;font-weight: bold;font-size: 12px;"> - {{ blog?.user?.name | titlecase }} </span> 
                                    </p>  
                                </div>
                                <div style="width: 70%;" *ngIf = "editBlogMode[blog._id]">
                                    <p>
                                        <span style="font-weight: bold;font-size: 25px;">Editing Blog</span>&nbsp; 
                                        <span style="font-style: italic;font-size: 12px;">{{ blog.date | date :'d/M/y hh:mm a' }} </span> &nbsp;
                                        <span style="font-weight: bold;font-size: 12px;" [ngStyle]="{'color' : blogCategory == 'approved' ?  'green' : 'purple'}">{{ blogCategory == 'approved' ?  '(APPROVED)' : '(PENDING)'}} </span> 
                                    </p>    
                                </div>
                                <div style="margin: auto;">
                                    <p>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 1)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 1 && hoverStar[blog._id] || fixedratings[blog._id] < 1 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 1 && hoverStar[blog._id] || fixedratings[blog._id] >= 1 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id, 1);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 2)" (mouseout)="hoverStar[blog._id]=false"
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 2 && hoverStar[blog._id] || fixedratings[blog._id] < 2 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 2 && hoverStar[blog._id] || fixedratings[blog._id] >= 2 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 2);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 3)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 3 && hoverStar[blog._id] || fixedratings[blog._id] < 3 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 3 && hoverStar[blog._id] || fixedratings[blog._id] >= 3 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 3);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 4)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 4 && hoverStar[blog._id] || fixedratings[blog._id] < 4 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 4 && hoverStar[blog._id] || fixedratings[blog._id] >= 4 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 4);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 5)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 5 && hoverStar[blog._id] || fixedratings[blog._id] < 5 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 5 && hoverStar[blog._id] || fixedratings[blog._id] >= 5 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 5);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        &nbsp;
                                        <button *ngIf="blogCategory != 'rejected'" mat-flat-button class="button_slide slide_down" (click)="$event.stopPropagation();toggleEdit(blog._id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="blogCategory != 'rejected'" mat-flat-button class="button_slide slide_down" (click)="deleteBlog(blog._id,blogCategory);$event.stopPropagation()">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="width: 80%;margin-top: 2rem;" *ngIf = "editBlogMode[blog._id]">
                            <form class="example-form">
                                <mat-form-field style="width: 25rem" class="example-full-width" appearance="legacy">
                                  <mat-label><strong>Title</strong></mat-label>
                                  <input matInput placeholder="Title here" [(ngModel)]="editedContent[blog._id]['title']" 
                                  [ngModelOptions]="{standalone: true}"
                                  (click)="$event.stopPropagation()" [value] = "blog.title" style="width: 25rem;">
                                </mat-form-field>
                                <br>
                            </form>
                        </div>
                        <mat-form-field style="width: 40rem;height: 10rem;"  *ngIf="editBlogMode[blog._id]" class="example-full-width" appearance="legacy">
                            <mat-label>Blog Content</mat-label>
                            <textarea (click)="$event.stopPropagation()" matInput placeholder="Content here" style="height: 8rem;" 
                            [(ngModel)]="editedContent[blog._id]['content']" [ngModelOptions]="{standalone: true}"></textarea>
                          </mat-form-field>
                        <span *ngIf="!editBlogMode[blog._id]">
                            {{ blog.content }}
                        </span>
                        <div *ngIf="editBlogMode[blog._id]">
                            <button mat-stroked-button color="primary" (click)="editBlog(blog._id,blogCategory)">Update</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div *ngIf="!blogs[blogCategory].length && !loader" style="text-align: center;margin-top: 10rem;">
                <h2>No Blogs for {{ blogCategory | titlecase }} </h2>
            </div>
            <div *ngIf="loader" style="margin-left: 50%;margin-top: 10%;">
                <mat-progress-spinner mode="indeterminate" [diameter]="45"></mat-progress-spinner>
            </div>
        </div>
    </div>
    <div *ngIf="user.isAdmin">
        <div *ngIf="blogCategory != 'new'">
            <div *ngFor="let blog of blogs[blogCategory]">
                <mat-accordion>
                    <mat-expansion-panel style="border: 1px solid #00000096;margin: 1rem;" 
                    [expanded]="'true'">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div style="width: 60%;display: inline-block;" *ngIf = "!editBlogMode[blog._id]">
                                    <p>
                                        <span style="font-weight: bold;font-size: 25px;">{{ blog.title | titlecase | slice : 0 : 15}}</span>&nbsp; 
                                        <span style="font-style: italic;font-size: 12px;">{{ blog.date | date :'d/M/y hh:mm a' }} </span> &nbsp;
                                        <span style="font-weight: bold;font-size: 12px;" [ngStyle]="{'color' : blogCategory == 'approved' ?  'green' : 'purple'}">{{ blogCategory == 'approved' ?  '(APPROVED)' : '(PENDING)'}} </span> &nbsp;
                                        <span style="font-style: italic;font-weight: bold;font-size: 12px;"> - {{ blog?.user?.name | titlecase }} </span> 
                                    </p>
                                </div>
                                <div style="width: 60%;" *ngIf = "editBlogMode[blog._id]">
                                    <p>
                                        <span style="font-weight: bold;font-size: 25px;">Editing Blog</span>&nbsp; 
                                        <span style="font-style: italic;font-size: 12px;">{{ blog.date | date :'d/M/y hh:mm a' }} </span> &nbsp;
                                        <span style="font-weight: bold;font-size: 12px;" [ngStyle]="{'color' : blogCategory == 'approved' ?  'green' : 'purple'}">{{ blogCategory == 'approved' ?  '(APPROVED)' : '(PENDING)'}} </span> 
                                    </p>    
                                </div>
                                <div style="margin: auto;">
                                    <p>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 1)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 1 && hoverStar[blog._id] || fixedratings[blog._id] < 1 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 1 && hoverStar[blog._id] || fixedratings[blog._id] >= 1 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id, 1);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 2)" (mouseout)="hoverStar[blog._id]=false"
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 2 && hoverStar[blog._id] || fixedratings[blog._id] < 2 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 2 && hoverStar[blog._id] || fixedratings[blog._id] >= 2 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 2);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 3)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 3 && hoverStar[blog._id] || fixedratings[blog._id] < 3 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 3 && hoverStar[blog._id] || fixedratings[blog._id] >= 3 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 3);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 4)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 4 && hoverStar[blog._id] || fixedratings[blog._id] < 4 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 4 && hoverStar[blog._id] || fixedratings[blog._id] >= 4 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 4);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        <svg height="20" width="20" (mouseover)="hoverStarStart(blog._id , 5)" (mouseout)="hoverStar[blog._id]=false" 
                                        [ngClass] = "{'blank-star' : ratings[blog._id] < 5 && hoverStar[blog._id] || fixedratings[blog._id] < 5 && !hoverStar[blog._id], 'fill-star' : ratings[blog._id] >= 5 && hoverStar[blog._id] || fixedratings[blog._id] >= 5 && !hoverStar[blog._id]}"
                                        (click)="rateBlog(blog._id , 5);$event.stopPropagation()">
                                        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                                        </svg>
                                        &nbsp;
                                        <button mat-flat-button class="button_slide slide_down" (click)="$event.stopPropagation();toggleEdit(blog._id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-flat-button class="button_slide slide_down" (click)="deleteBlog(blog._id,blogCategory);$event.stopPropagation()">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button *ngIf="blogCategory != 'approved'"  mat-flat-button class="button_slide slide_green" (click)="$event.stopPropagation();ApproveOrRejectBlog(blog._id,'approve')">
                                            <mat-icon>done</mat-icon>
                                        </button>
                                        <button *ngIf="blogCategory != 'approved'" mat-flat-button class="button_slide slide_red" (click)="$event.stopPropagation();ApproveOrRejectBlog(blog._id,'reject')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </p>    
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="width: 80%;margin-top: 2rem;" *ngIf = "editBlogMode[blog._id]">
                            <form class="example-form">
                                <mat-form-field style="width: 25rem" class="example-full-width" appearance="legacy">
                                  <mat-label><strong>Title</strong></mat-label>
                                  <input matInput placeholder="Title here" [(ngModel)]="editedContent[blog._id]['title']" 
                                  [ngModelOptions]="{standalone: true}"
                                  (click)="$event.stopPropagation()" [value] = "blog.title" style="width: 25rem;">
                                </mat-form-field>
                                <br>
                            </form>
                        </div>
                        <mat-form-field style="width: 40rem;height: 10rem;"  *ngIf="editBlogMode[blog._id]" class="example-full-width" appearance="legacy">
                            <mat-label>Blog Content</mat-label>
                            <textarea (click)="$event.stopPropagation()" matInput placeholder="Content here" style="height: 8rem;" 
                            [(ngModel)]="editedContent[blog._id]['content']" [ngModelOptions]="{standalone: true}"></textarea>
                          </mat-form-field>
                        <span *ngIf="!editBlogMode[blog._id]">
                            {{ blog.content }}
                        </span>
                        <div *ngIf="editBlogMode[blog._id]">
                            <button mat-stroked-button color="primary" (click)="editBlog(blog._id,blogCategory)">Update</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div *ngIf="!blogs[blogCategory].length && !loader" style="text-align: center;margin-top: 10rem;">
                <h2>No Blogs for {{ blogCategory | titlecase }} </h2>
            </div>
            <div *ngIf="loader" style="margin-left: 50%;margin-top: 10%">
                <mat-progress-spinner mode="indeterminate" [diameter]="45"></mat-progress-spinner>
            </div>
        </div>
    </div>
</body>
